<app-progress>
  <app-progress-step>
  <h1>step1</h1>
    <button appProgressStepNext>next</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step2</h1>
    <button appProgressStepNext>next</button>
    <button appProgressStepPrev>go to back</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step3</h1>
    <button appProgressStepNext>next</button>
    <button appProgressStepPrev>go to back</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step3</h1>
    <button appProgressStepNext>next</button>
    <button appProgressStepPrev>go to back</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step3</h1>
    <button appProgressStepNext>next</button>
    <button appProgressStepPrev>go to back</button>
  </app-progress-step>
</app-progress>
